* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
#menu ul {
    list-style-type: none;
    background: skyblue;
    font-family: sans-serif;
    font-variant: small-caps;
    position: fixed;
    left: 5px;
    top: 5px;
    height: 200px;
    }
li {
    width: 100px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    }
#menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    }
#gallery {
    position: absolute;
    left: 105px;
    }
.product {
    width: 33.33%;
    float: left;
    padding-left: 5px;
    padding-top: 5px;
    }
img.product:hover { 
    opacity: 0.5;
    }
#banner {
    position: absolute;
    left: 105px;
    padding-left: 5px;
    padding-top: 5px;
    }
#backtotop {
    position: fixed;
    left: 30px;
    bottom: 5px;
    }